
    <style>
    .container{
    padding-left: 10%;
    padding-right: 10%;
            
    }
    .fixed{
     position: fixed;
     top: 0;
     left: 5%;
     text-align: center;
     background-color: aqua;
     margin: 0;
     z-index: 9;
     padding: 50px;
    }

    .relative{

    position: relative;
    padding: 200px;
    text-align: center;
     background-color: aqua;
     margin: 0;
    

    }

    

</style>